body {
    color: #3c464d;
    background-color: #e3dccd;
}

div.navbar div.rounded {
    padding: 2px;
    background-color: red;
    border-radius: .2rem;
}

div.jumbotron {
    position: relative;
    border-radius: .5rem;
}
    div.jumbotron:after {
        content: '';
        position: absolute;
        right: 0;
        top: 200px;
        width: 0;
        height: 0;
        border: 42px solid transparent;
        border-left-color: #f8f9fa;
        border-right: 0;
        margin-top: -42px;
        margin-right: -42px;
    }

img.ola-feature-img {
    position: relative;
    top: 100px;
    max-height: 200px;
}

button.connect-button {
    background-color: #e0311d;
    color: #ffffff;
}

div.fixed-bottom  {
    pointer-events: none;
}

pre.arduino-code {
    color: #3c464d;
    background-color: #e3dccd;
    max-height: 200px;
    overflow: scroll;
}